body {
	/*background-color: #74101E;*/
	font-family: 'Raleway', sans-serif;
	margin: 0px;
}

.cabecera {
	margin : 0px;
	background-color : #74101E;
	width      : 100%;
	min-height : 60px;
	max-height : 60px;
	-webkit-box-shadow : 0px 0px 8px 2px #000000;
	-moz-box-shadow :    0px 0px 8px 2px #000000;
	box-shadow :         0px 0px 8px 2px #000000;

}

.cabecera .titulo {
	padding     : 15px 10px;
	color       : #FFF;
	width       : 100%;
	font-weight : bold;
}

.informacion {
	font-size: 18px;
}

.informacion tr td:first-child {
	text-align     : right;
	vertical-align : top;
	padding-right  : 20px;
	font-weight    : bold;
}

.reporte table tr:not(:first-child) td:first-child {
	color : #EA1A1A;
}

.reporte table tr:first-child {
	font-weight: bold;
	background-color: #000;
	color: #FFF;
}

.reporte table td {
	text-align : center;
	font-size  : 15px;
}

input {
	text-align: center;
}

.contenido {
	display          : table;
	background-color : #FFF;
	padding          : 20px 25px;
	font-size        : 16px;
	margin           : 0px auto;
}

.reporte {
	background-color: #FFF;
}

.reporte table {
	border-collapse: collapse;
}

.oculto {
	display: none;
}

.reporte td {
	padding: 2 10 2 10;
}

.reporte tr:nth-child(2n) td {
	background-color : #E7E7E7;
}

.celda_hora_entrada > div {
	display : table;
}

.celda_hora_entrada > div > div {
	display        : table-cell;
	vertical-align : middle;
}

.instrucciones {
	/*text-align : left;*/
	font-size  : 14px;
}

.elemento {
	width : 155px;
}

.principal > div {
	/*display : table;*/
}

.principal > div > div {
	/*display        : table-cell;
	vertical-align : top;*/
}

.contenedor_reporte {
	/*width  : 100%;*/
}

.alto_100p {
	height : 100%;
	overflow-y : hidden;
}

.contenedor_controles {
	min-width: 600px;
}

.descargar {
	-webkit-box-shadow :rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow    :rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow         :rgba(0,0,0,0.2) 0 1px 0 0;
	color                 : #FFF;
	background-color      : #525EB2;
	transition            : background-color 0.5s ease;
	border-radius         : 5px;
	-moz-border-radius    : 5px;
	-webkit-border-radius : 5px;
	border                : none;
	font-size             : 16px;
	font-weight           : 700;
	height                : 32px;
	padding               : 4px 16px;
}

.descargar:hover {
	background-color : #BA3636;
}

.reporte_datos {
	display : table;
	margin  : 0 auto;
}

.tabla {
	display : table;
}

.celda {
	display : table-cell;
}

.centrado_margen {
	margin : 0px auto;
}

.contenedor_reporte_datos > div {
	padding: 20px;
}

.fondo_blanco {
	background-color : #FFF;
}

.borde_redondo {
	border-radius : 4px;
	border        : 1px solid #000;
}

.contenedor_enlace_descargar {
	padding    : 0px 60px;
	min-height : 100px;
}

.icono_configurar_reporte {
	max-height     : 25px;
	vertical-align : middle;
	cursor         : pointer ;
}

.una_linea {
	white-space : nowrap;
}

.separador_titulo {
	min-height: 60px;
	max-height: 60px;
}

.no_mostrar_scroll {
	/*overflow-y : hidden;*/
}

.ancho_100p{
	width : 100%;
}

.separacion_vertical {
	padding-top : 20px;
}

.contenedor_tabla_horas_reporte {
	background-color : #C8C8C8;
	padding          : 5px 0px;
	-moz-box-shadow    : inset 0 0 15px #000000;
	-webkit-box-shadow : inset 0 0 15px #000000;
	box-shadow         : inset 0 0 15px #000000;
}

.controles_datos_reporte {
	padding : 10px 0px;
}

.invisible {
	visibility : hidden;
}

.texto_derecha {
	text-align : right;
}

.limpiar {
	clear : both;
}

.contenedor_controles hr {
	max-width : 450px;
	border : none;
	border-bottom: 1px solid #000;
	margin: 0px;
}